# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
.venv/
venv/
ENV/
new_venv/

# VS Code
.vscode/

# SQLite database
weather.db

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter Notebooks
.ipynb_checkpoints/

# Images
*.png
*.jpg
*.jpeg
*.gif
